body{
    background-image: url(/nba/images/Michael-Jordan-Wallpapers.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

#equipos{
    display: none;
}
#jugadores{
    display: none;
}
#apoyo{
    display: none;
}
